<html>
<head>
	<style type="text/css" media="screen">
		body { font-family: helvetica, arial, sans-serif; font-size: 12px; }
	</style>
</head>
       
<body id="forms" onload="">
	hello from the view    
<p>here's what happens</p> 
<form action="forms" method="post" accept-charset="utf-8">
	<input type="text/submit/hidden/button" name="some_name" value="" id="some_name" placeholder="name"><br/>
	<input type="text/submit/hidden/button" name="email" value="" id="email" placeholder="email"><br/>
	<input type="text/submit/hidden/button" name="address" value="" id="address" placeholder="address"><br/>
	<input type="text/submit/hidden/button" name="city" value="" id="city" placeholder="city"><br/>

	<p><input type="submit" value="Continue &rarr;"></p>
</form>

</body>


